<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>vue study</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="first_name">+
    <input type="text" v-model="middle_name">+
    <input type="text" v-model="last_name">=
    <input type="text" v-model="full_name">
    {{full_name}}
    {{full_name}}
    {{full_name}}
</div>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            first_name: '',
            middle_name: '',
            last_name: '',
        },
        methods: {},
        // watch: {
        //     'first_name': function (newValue) {
        //         this.full_name = newValue + '-' + this.last_name
        //     },
        //     'last_name': function (newValue) {
        //         this.full_name = this.first_name + '-' + newValue
        //     }
        //
        // }
        computed: {
            //在 computed中，可以定义一些属性，这些属性 称为计算属性，这些计算属性，本质是一个方法。只不过是在使用的时候，是把它的名称属性来使用，并不会
            //像调用方法那样
            'full_name': function () {
                console.log('ok');
                return this.first_name + '- ' + this.middle_name + '-' + this.last_name

            }
        }
    })
</script>
</body>
</html>
