<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>vue v-for</title>
		<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
	</head>
	<body>
		<div id="app">
			id:<input type="text" v-model="id" />
			name:<input type="text" v-model="name" />
			<input type="button" value="添加" @click="add"/>
			<!-- vue  v-for 循环时候，key属性只能使用number 或者 string -->
			<!-- 注意：key 在使用的时候，必须使用v-bind 属性绑定的形式来指定key的值 -->
			<!-- 注意：在组件中是用 v-for 循环的时候，或者一些特殊情况中，一般需要指定唯一的int/string 来作为 key 值 -->
			<p v-for="item in list" :key="item.id">
				<input type="checkbox">
				{{item.id}}--{{item.name}}
			</p>
		</div>
		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					id: '',
					name: '',
					list: [{
							id: 1,
							name: "chen1"
						},
						{
							id: 2,
							name: "chen2"
						},
					]
				},
				methods: {
					add() {
						this.list.unshift({id: this.id, name: this.name})
					}
				}
			})
		</script>
	</body>
</html>
